
.page-with-sidebar {
  padding-left: 230px;
}

.sidebar-wrapper {
  color: #fff;
  background: $sidebar-bg;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  a {
    color: #fff;
  }

  &.sidebar-expanded {
    width: 230px;
  }

  .sidebar-brand {
    background: lighten($sidebar-bg, 4%);
    transition: background-color 0.3s ease;

    &:hover {
      background: darken($sidebar-bg, 4%);
      text-decoration: none;
    }

    display: block;
    padding: 10px;

    span.product-name {
      font-size: 26px;
    }

    span.product-version {
      position: relative;
      float: right;
    }
  }

  .nav-sidebar {
    a {
      transition: background-color 0.3s ease;

      .fa {
        margin-right: 10px;
      }
    }

    li.active a,
    li a:hover  {
      background: darken($sidebar-bg, 4%);
    }

    li.divider {
      border-top: 1px solid lighten($sidebar-bg, 10%);
      margin-top: 10px;
      padding-top: 10px;
    }
  }

  .sidebar-actions {
    padding: 9px 22px;
    position: fixed;
    bottom: 0;
    width: 230px;
    overflow: hidden;

    a {
      color: darken(#fff, 20%);

      &:hover {
        color: #fff;
      }
    }
  }
}
